.page-navigation {
	background-color: #B27924;
	height: 50px;
}

.page-navigation ul {
	list-style: none;
}

.page-navigation ul li{
	padding: 0px 25px;
	float: left;
	line-height: 50px;
}

.page-navigation ul li a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px
}

.page-navigation ul li a:hover {
	color: black:
	text-decoration: underline;
}
.index-title{
	color: blue;
}
.video-title{
	color: red;
}
.favorite-links li a{
	color: pink;
}

.favorite-linka li a:hover{
	color: green;
	
}